.prenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 20px;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .prenav {
    flex-direction: column;
    padding-top: 20px;
  }
}
.prenav_background {
  background-color: rgb(51, 44, 87);
}

.prenav h1 {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
}
.logo {
  display: flex;
}

.navbar {
  background-color: rgb(233, 206, 98);
  color: black;
  margin-bottom: 20px;
}

.nav_ticker {
  margin-left: 10px;
}

tr {
  line-height: 23px;
  color: white;
}

@media screen and (min-width: 1000px) {
  th {
    min-width: 115px;
  }
}

tbody {
  vertical-align: middle;
}

table {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
}

.logoText {
  color: white;
  text-decoration: none;
}
.logoText:hover {
  color: rgb(243, 202, 37);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}

.search-bar {
  width: 400px;
}

.dropdown-menu a {
  text-decoration: none;
}

.dropdown-menu > li {
  padding: 5px;
}
.dropdown-menu > li:hover {
  background-color: rgb(243, 202, 37);
}
.dropdown-menu p {
  color: rgb(51, 44, 87);
  padding: 0;
  margin: 0;
}
.nav-item div {
  color: rgb(51, 44, 87);
}
